<div class="row">

  <div class="col-6 p-5">
    <form>
      <div class="mb-3">
        <label for="InputArticle" class="form-label">Article</label>
        <input type="text" class="form-control" id="InputArticle">
      </div>
      <div class="mb-3">
        <label for="InputReference" class="form-label">Reference</label>
        <input type="text" class="form-control" id="InputReference">
      </div>
      <div class="mb-3">
        <label for="InputLigneDetails" class="form-label">Ligne detaille</label>
        <input type="text" class="form-control" id="InputLigneDetails">
      </div>
      <div class="mb-3">
        <label for="InputPrixUnitaire" class="form-label">prix unitaire</label>
        <input type="number" class="form-control" id="InputPrixUnitaire">
      </div>
      <div class="mb-3">
        <label for="InputQuantite" class="form-label">quantité</label>
        <input type="number" class="form-control" id="InputQuantite">
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>

</div>
